.nounderline{
	text-decoration: none;
}

.lessonDetail{
	overflow-y 	: auto;
	z-index: 3;
	display: none;
	position: fixed;
	width: 70%;
	height: 70%;
	left:15%;
	top:15%;
}

.section1{
	opacity: 0;
}

#dark{
	z-index: 2;
	background-color: gray;
	display: none;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
}

.teacher{
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.teacher img{
	border-style: solid;
	border-width: 2px;
	border-radius: 10%;
	width:10em;
	height: 10em;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}